// The class name needs to match the names of the category and block
.wp-block-cloudblocks-box {
  border: 1px solid #000;
  padding: 30px;

 .wp-block-cloudblocks-box__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 21px;
    word-break: break-word;

    @media (min-width: 30em) {
      font-size: 33.6px;
    }

    @media (min-width: 62em){
      font-size: 35px;
    }
  }
}
