.wp-block-cloudblocks-boxes-in-columns {
  display: block;

  > .editor-inner-blocks > .editor-block-list__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > .editor-block-list__block {
      flex-basis: 100%;

      .wp-block-cloudblocks-box {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  .block-library-button__inline-link {
    width: 100%;
    max-width: 380px;

    .editor-url-input {
      width: calc(100% - 80px);
      max-width: 300px;

      input[type=text] {
        width: 100%;
      }

      @media (min-width: 600px) {
        width: calc(100% - 80px);
        max-width: 300px;

        input[type=text] {
          width: 100%;
        }
      }
    }
  }

  .wp-block-button {
    .editor-rich-text__tinymce.mce-content-body {
      line-height: 1.3;
    }
  }
}
