$padding: 16px;

.wp-block-cloudblocks-boxes-in-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .wp-block-cloudblocks-box {
    &:last-child {
      padding-right: 0;
    }

    @media (min-width: 600px) {
      flex-basis: 100%;
      padding-left: 0;
      padding-right: 0;

      &:nth-child(odd) {
        padding-left: 0;
      }

      &:nth-child(2n) {
        padding-right: 0;
      }
    }

    @media (min-width: 782px) {
      &:not(:first-child) {
        padding-left: $padding;
      }

      &:not(:last-child) {
        padding-right: $padding;
      }
    }

    @media (min-width: 46em) {
      flex-basis: 50%;
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}
